html{
    font-family: system-ui;
}


body{
    margin: 0;
    height: 100vh;
    padding: 0 3rem;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 802px 1fr 802px;
    align-items: center;
}

.ship{
    background: blue;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
}

.ship.hover{
    background: green;
    cursor: pointer;
    user-select: none;
}

.hit{
    pointer-events: none;
}


.information{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hidden{
    visibility: hidden;
}

.button{
    padding: 0 1rem;
}

button{
    width: 100%;
    height: 100%;
    border: 1px solid #265ba6;
    border-radius: 1rem;
    background: #265ba6;
    padding: 1rem 2rem;
    user-select: none;
    font-size: 2rem;

}


.board-element{
    border: solid 1px black;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.first-player,.second-player{
    border: 1px solid black;
    height: 800px;
    display: grid;
    grid-template: repeat(10,1fr) / repeat(10,1fr);
    box-sizing: border-box;
}
.turn{
    opacity: 0.5;
    pointer-events: none;

 }
